{% extends 'users/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Kapcsolat Felvételi Űrlap feldolgozása</h3>
    <div id="white-wrapper">
        <b>Kapcsolat Keresztnév:</b> {{ user_contact.contactfirstname }}<br>
        <b>Kapcsolat Vezetéknév:</b> {{ user_contact.contactlastname }}<br>
        <b>Kapcsolat Email Cím:</b> {{ user_contact.contactemail }}<br>
        <br>
        <a href="{{ path('usercontact_delete_contact',{'id': user_contact.id}) }}" class="btn btn-danger">Űrlap Törlése</a>
    </div>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.source_user_account_id, {'label': 'Felhasználók'}) }}
        {{ form_row(form.first_name, {'label': 'Keresztnév'}) }}
        {{ form_row(form.last_name, {'label': 'Vezetéknév'}) }}
        {{ form_row(form.email, {'label': 'Email'}) }}
        {{ form_row(form.username, {'label': 'Felhasználónév'}) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
        <a href="{{ path('usercontact_list_all') }}" class="btn btn-primary">Vissza</a>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/fill-out-selected-user.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}