{% extends 'users/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Felhasználó Adatainak Megtekintése</h3>
    <div id="yellow-wrapper">
        <div id="view-user-account-wrapper">
            <b>Keresztnév: </b>{{ user_account.getFirstName }}<br/>
            <b>Vezetéknév: </b>{{ user_account.getLastName }}<br/>
            <b>Email: </b>{{ user_account.getEmail }}<br/>
            <br>
            <h4><b>Bérletek</b></h4>
            <table class="table colored-table">
                <thead>
                <tr>
                    <th>Tulajdonos</th>
                    <th>Alkalmak</th>
                    <th>Indul</th>
                    <th>Ár</th>
                    <th>Részletek</th>
                </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td>
                                {{ subscription.owner.getFirstName }} {{ subscription.owner.getLastName }}
                            </td>
                            <td>
                                {{ subscription.attendanceCount }}
                            </td>
                            <td>
                                {{ subscription.getStartDateString }}
                            </td>
                            <td>
                                {{ subscription.price }}
                            </td>
                            <td>
                                <a href="{{ path('subscription_view_attendances', {'id': subscription.id}) }}" class="btn btn-default"><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-chevron-right"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}