{% extends 'users/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>View User Account</h3>
    <div id="yellow-wrapper">
        <div id="view-user-account-wrapper">
            <b>First name: </b>{{ user_account.getFirstName }}<br/>
            <b>Last name: </b>{{ user_account.getLastName }}<br/>
            <b>Email Address: </b>{{ user_account.getEmail }}<br/>
            // TODO: Show all subscriptions
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}