<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Subsmanager Application{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
        {% block stylesheets %}{%  endblock %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="row-wrapper">
                <div class="grid-menu col-md-3 col-lg-2">
                    <!-- SIDEBAR -->
                    <nav class="navbar navbar-default sidebar" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    {% block loggedInBoard %}
                                        {% if logged_in_user is not null %}
                                            <li><p id="logged-in-board-p">Logged in as <br>{{ logged_in_user.getEmail }}</p></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">Logout<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-log-out"></span></a></li>
                                        {% endif %}
                                    {% endblock %}
                                    <li class="active"><a href="{{ path('homepage') }}">Home<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-home"></span></a></li>

                                    {% block loggedInMenu %}
                                        {% if logged_in_user is not null %}
                                            {% if logged_in_user.getIsAdmin %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-user"></span></a>
                                                    <ul class="dropdown-menu forAnimate" role="menu">
                                                        <li><a href="{{path('useraccount_add_user')}}">Add New User Account</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{path('useraccount_list_all')}}">List all users</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscriptions <span class="caret"></span><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-list-alt"></span></a>
                                                    <ul class="dropdown-menu forAnimate" role="menu">
                                                        <li><a href="{{path('subscription_add_subscription')}}">Add New Subscription</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{path('subscription_list_all')}}">List all subscriptions</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <span class="caret"></span><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-calendar"></span></a>
                                                    <ul class="dropdown-menu forAnimate" role="menu">
                                                        <li><a href="{{path('schedule_add_item')}}">Add New Item</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{path('schedule_list_all')}}">List all items</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <span class="caret"></span><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-th-list"></span></a>
                                                    <ul class="dropdown-menu forAnimate" role="menu">
                                                        <li><a href="{{path('session_add_session_event')}}">Add New Session Event</a></li>
                                                        <li><a href="#">Add New Break Event</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{path('session_event_list_all')}}">List all events</a></li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            <li><a href="{{ path('useraccount_view',{'id': logged_in_user.id}) }}" class="btn btn-primary menubar-btn" style="color: black;">View Account<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-user"></span></a></li>
                                            <li><a href="{{ path('useraccount_edit_user',{'id': logged_in_user.id}) }}" class="btn btn-info menubar-btn" style="color: black;">Edit Account Info<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-pencil"></span></a></li>
                                        {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-link menubar-btn">Login<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-log-in"></span></a></li>
                                        {% endif %}
                                    {% endblock %}
                                    <li><a href="{{ path('usercontact_add_contact') }}" class="btn btn-success menubar-btn" style="color: black;">Add Contact<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-envelope"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- SIDEBAR -->
                </div>
                <div class="grid-content col-md-9 col-lg-10">
                    <div id="content">
                        {% for flash_message in app.session.flashBag.get('notice') %}
                            <div class="flash-notice alert alert-success">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('error') %}
                            <div class="flash-notice alert alert-danger">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>

        {% block body_end_javascripts %}{% endblock %}
    </body>
</html>
