<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Subsmanager Application{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}{%  endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="grid-menu col-md-2">
                    <div id="sidebar">
                        {% block sidebar %}
                            <ul id="sidebar-items">
                                <li><a href="{{ path('homepage') }}">Home</a></li>
                                <li><a href="{{ path('add_user_account') }}">Add User</a></li>
                                <li><a href="{{ path('add_subscription') }}">Add Subscription</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
                <div class="grid-content col-md-10">
                    <div id="content">
                        {% block body %}{% endblock %}
                        {% block javascripts %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
