{% extends 'schedule/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Új Órarendi Elem</h3>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.scheduledItemName, { 'label': 'Órarendi Elem Neve' }) }}
        {{ form_row(form.scheduledDay, {'label': 'Nap'}) }}
        {{ form_row(form.scheduledStartTime, {'label': 'Kezdés Időpontja'}) }}
        {{ form_row(form.scheduledDueTime, {'label': 'Befejezés Időpontja'}) }}
        {{ form_row(form.location, {'label': 'Hely'}) }}
        {{ form_row(form.session_name, {'label': 'Óra Neve'}) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/combodate/src/combodate.js') }}"></script>

    <script>
        $(function(){
            $('#appbundle_scheduleitem_scheduledStartTime').combodate({
                minuteStep: 15
            });
            $('#appbundle_scheduleitem_scheduledDueTime').combodate({
                minuteStep: 15
            });
        });
    </script>
{% endblock %}