{% extends 'schedule/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Add Schedule Item</h3>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.scheduledItemName) }}
        {{ form_row(form.scheduledDay) }}
        {{ form_row(form.scheduledStartTime) }}
        {{ form_row(form.scheduledDueTime) }}
        {{ form_row(form.location) }}
        {{ form_row(form.session_name) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/combodate/src/combodate.js') }}"></script>

    <script>
        $(function(){
            $('#appbundle_scheduleitem_scheduledStartTime').combodate({
                minuteStep: 15
            });
            $('#appbundle_scheduleitem_scheduledDueTime').combodate({
                minuteStep: 15
            });
        });
    </script>
{% endblock %}