{% extends 'schedule/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Edit Schedule Item</h3>
    <div id="yellow-wrapper">
        {{ form(form) }}
        <a href="{{ path('schedule_list_all') }}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/combodate/src/combodate.js') }}"></script>

    <script>
        $(function(){
            $('#appbundle_scheduleitem_scheduledStartTime').combodate({
                minuteStep: 15
            });
            $('#appbundle_scheduleitem_scheduledDueTime').combodate({
                minuteStep: 15
            });
        });
    </script>
{% endblock %}