
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bérlet Kezelő [Subsmanager]{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    {% block stylesheets %}{%  endblock %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</head>
<body>

<div class="usercontact-container-embeded">

    <div id="yellow-embeded-wrapper">

        <h4><span style="color: green">Űrlap Sikeresen elküldve!</span></h4>

    </div>
</div>

</body>
</html>