
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bérlet Kezelő [Subsmanager]{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    {% block stylesheets %}{%  endblock %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</head>
<body>
<div class="usercontact-container-embeded">
    <div id="yellow-embeded-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.contact_last_name, {'label': 'Vezetéknév'}) }}
        {{ form_row(form.contact_first_name, {'label': 'Keresztnév'}) }}
        {{ form_row(form.contact_email, {'label': 'Email'}) }}
        {{ form_row(form.password, {'label': 'Jelszó'}) }}
        {{ form_row(form.captcha) }}
        <!--
            
            GDPR checkbox html - commented out

        <div class="checkbox" id="confirmDataStoreRuleLabel">
            <label><input type="checkbox" id="confirmDataStoreRule" value="">Elfogadom hogy a megadott adatokat a rendszer eltárolja.</label>
        </div>
        -->
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': true}) }}
    </div>
</div>

<script>

    $(document).ready(function () {

        $('.col-sm-2').addClass('col-xs-2').removeClass('col-sm-2');

        $('.col-sm-10').addClass('col-xs-10').removeClass('col-sm-10');

    });
</script>

<!--    

    GDPR checkbox javascript - commented out

<script type="text/javascript">

    var confirmDataStoreRule = $('#confirmDataStoreRule');

    if (confirmDataStoreRule.is(":checked")) {
        // let it submit
        $('#appbundle_usercontact_save').attr("disabled", false);
    } else {
        // don't let it submit
        $('#appbundle_usercontact_save').attr("disabled", true);
    }

    confirmDataStoreRule.click( function () {
        if ($('#confirmDataStoreRule').is(":checked")) {
            // let it submit
            $('#appbundle_usercontact_save').attr("disabled", false);
        } else {
            // don't let it submit
            $('#appbundle_usercontact_save').attr("disabled", true);
        }
    });

</script>
-->

</body>
</html>