{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% for user in users %}
                <b> {{ user.firstName }}</b>
                <b> {{ user.lastName }}</b>
                <p>Created At: <b>{{ user.created|date('Y-m-d H:i:s') }}</b></p>
                <p>First Name: <i>  {% if user.firstName is not empty %} {{ user.firstName }} {% endif %}</i></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
