{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kezdő oldal fejlesztés alatt..</h1>
    <div id="yellow-wrapper">
        <p><b>Yellow wrapper</b></p>
        <p>Jelenleg a rendszerben szerepel:</p>
        <p>{{ count_users }} felhasználó</p>
        <p>{{ count_subscriptions }} bérlet</p>
        <p>{{ count_scheduleItems }} órarendi elem</p>
        <p>és {{ count_sessionEvents }} óra esemény elmentve.</p>
        <a href="{{ path('usercontact_list_all') }}" class="btn btn-primary">Kapcsolat Felvételi Űrlapok</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
