{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<a href="{{ path('homepage') }}" class="btn btn-primary btn-after-form">Vissza</a>
