{% trans_default_domain 'FOSUserBundle' %}


<div id="embeded-login-form-error">
    {% if error %}
        <span style="color: red">Érvénytelen e-mail cím vagy jelszó!</span>
    {% endif %}
</div>

<div class="container-embeded">
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label class="col-xs-2 control-label required embeded-control-label" for="username">Email</label>
            <div class="col-xs-10">
                <input class="form-control" type="email" id="username" placeholder="E-mail" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label required embeded-control-label" for="password">{{ 'security.login.password'|trans }}</label>
            <div class="col-xs-10">
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
        </div>
        <input type="submit"
               class="btn btn-success btn-user-nav"
               id="_submit"
               name="_submit"
               value="{{ 'security.login.submit'|trans }}" />
                <input type="hidden" name="_failure_path" value="login_faliure" />
    </form>
</div>