{% extends 'event/layout.html.twig' %}

{#{% form_theme form _self %}#}
{% form_theme form with
    [
        '@ninsuo/jquery.collection.html.twig',
        '/event/recordsFormTheme.html.twig'
    ]
%}

{#{% block integer_widget %}#}
    {#<div class="integer_widget">#}
        {#{% set type = type|default('number') %}#}
        {#{{ block('form_widget_simple') }}#}
    {#</div>#}
{#{% endblock %}#}

{% block body %}
    {{ parent() }}
    <h3>Add Session Event</h3>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.sessionEventDate) }}
        {{ form_row(form.scheduleItem) }}
        {{ form_row(form.attendees) }}
        {{ form_row(form.sessionFeeNumbersSold) }}
        {{ form_row(form.sessionFeeRevenueSold) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}


{% block javascript %}
    <script src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}


{% block body_end_javascripts %}
    <script type="text/javascript">
        $('.attendance-record').collection({
            add: '<a href="#" class="btn btn-success">Add Record</a>',
            allow_up: false,
            allow_down: false,
            add_at_the_end: true
        });
    </script>

    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}