{% extends 'event/layout.html.twig' %}

{# {% form_theme form _self %} #}
{% form_theme form with
	[
		'@ninsuo/jquery.collection.html.twig',
		'/event/recordsFormTheme.html.twig'
	]
%}

{# {% block integer_widget %} #}
    {# <div class="integer_widget"> #}
        {# {% set type = type|default('number') %} #}
        {# {{ block('form_widget_simple') }} #}
    {# </div> #}
{# {% endblock %} #}

{% block body %}
	{{ parent() }}
	<div id="signee-table-wrapper">
		<table class="table colored-table" id="signee-table">
			<thead>
			<tr>
				<th>#</th>
				<th>Bejelentkező</th>
				<th>Extrák</th>
				<th>Várólistás</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<h3>Új Óra Esemény</h3>
	<div id="yellow-wrapper">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form._token) }}
		{{ form_row(form.sessionEventDate, {'label': 'Időpont'}) }}
		{{ form_row(form.scheduleItem, {'label': 'Órarendi Elem'}) }}
		{{ form_row(form.announcedSession, {'label': 'Bejelentkezéses óra'}) }}
		{{ form_row(form.sessionCreditRequirement, {'label': 'Kreditigény'}) }}
		{{ form_row(form.attendees, {'label': 'Bérletesek'}) }}
		{{ form_row(form.sessionFeeNumbersSold, {'label': 'Eladott Napidíjak'}) }}
		{{ form_row(form.sessionFeeRevenueSold, {'label': 'Napidíj Bevétel'}) }}
		{{ form_row(form.saveAndContinue) }}
		{{ form_row(form.save) }}
		{{ form_end(form, {'render_rest': false}) }}
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"
		  href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}


{% block javascript %}
<script src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment-with-locales.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('js/auto-suggest-users.js') }}"></script>
    <script src="{{ asset('js/announced-session-table.js') }}"></script>
{% endblock %}


{% block body_end_javascripts %}
	<script>
		$(function () {
			$('.datetimepicker').datetimepicker({
				format: 'YYYY-MM-DD HH:mm',
				locale: 'hu'
			});
		});
	</script>
{% endblock %}
