{% extends 'event/layout.html.twig' %}

{#{% form_theme form _self %}#}
{% form_theme form 'plugin/jquery.collection.html.twig' %}

{#{% block integer_widget %}#}
    {#<div class="integer_widget">#}
        {#{% set type = type|default('number') %}#}
        {#{{ block('form_widget_simple') }}#}
    {#</div>#}
{#{% endblock %}#}

{% block body %}
    {{ parent() }}
    <h3>Edit Session Event</h3>
    <div id="yellow-wrapper">
        {{ form(form) }}
        <a href="{{ path('session_event_list_all') }}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}