{% extends 'event/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Óra Események</h3>
    <div id="yellow-wrapper">
        <div class="list-group">
            {% for event in events %}
                <a href="{{ path('session_edit_session_event', {'id': event.id}) }}" class="list-group-item">
                    {{ event }}<br/>
                    <b>Létrehozva: <b>{{ event.created|date('Y-m-d H:i:s') }}</b></b>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}