{% extends 'event/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="white-wrapper">
        <h4><b>Keresés</b></h4>
        <form action="{{ path('sessionevent_search_edit') }}" method="get" class="form-inline">
            <div class="form-group">
                <input name="searchStart" type="text" class="form-control datetimepicker" id="searchStartDate" placeholder="-tól">
            </div>
            <div class="form-group">
                <input name="searchDue" type="text" class="form-control datetimepicker" id="searchDueDate" placeholder="-ig">
            </div>
            <div class="form-group">
                <select name="searchScheduleItemId" class="selectpicker form-control" id="searchScheduleItemId">
                    <option value=""></option>
                    {% for item in schedule_items %}
                        <option value="{{ item.getId }}">
                            [{{ item.getId }}] {{ item.getScheduledItemName }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default"><span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-search"></span></button>
        </form>
    </div>

    <div id="stats-wrapper">
        <div id="view-user-account-wrapper">
            <h4><b>Űrlapok</b></h4>
            <br>
            <table class="table colored-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Órarendi Elem</th>
                    <th>Időpont</th>
                    <th>Bevétel</th>
                    <th>Létszám</th>
                    <th>Szerkesztés</th>
                </tr>
                </thead>
                <tbody>
                {% for sessionevent in events %}
                    <tr>
                        <td>
                            {{ sessionevent.getId }}
                        </td>
                        <td>
                            {{ sessionevent.getScheduleItem }}
                        </td>
                        <td>
                            {{ sessionevent.getSessionEventDate|date('Y.m.d.') }}
                        </td>
                        <td>
                            {{ sessionevent.getRevenue|number_format(0, '.', ' ') }} Ft
                        </td>
                        <td style="text-align: center">
                            {{ sessionevent.getAttendeeFullCount }}
                        </td>
                        <td>
                            <a href="{{ path('session_edit_session_event', {'id': sessionevent.getId, 'searchStart': searchStart, 'searchDue': searchDue, 'searchScheduleItemId': searchScheduleItemId }) }}" class="btn btn-link"><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-list-alt"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

{% endblock %}

{% block body_end_javascripts %}
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var currentMonth = moment().month();

            var currentMonthFirstDay = moment().set({'month':currentMonth,'date':1,'hour':0,'minute':0,'second':0,'millisecond':0}).format('YYYY-MM-DD HH:mm');

            var currentMonthLastDay = moment(currentMonthFirstDay,  "YYYY-MM-DD HH:mm").set({'hour':23,'minute':59,'second':0,'millisecond':0}).add(1, 'months').subtract(1, 'day').format('YYYY-MM-DD HH:mm');

            var url = window.location.href;

            if(url.indexOf('?') == -1) {
                $('#searchStartDate').val(currentMonthFirstDay);

                $('#searchDueDate').val(currentMonthLastDay);
            } else {
                var urlObj = new URL(url);
                var searchedStart = urlObj.searchParams.get("searchStart");
                var searchedDue = urlObj.searchParams.get("searchDue");
                var searchedScheduleItemId = urlObj.searchParams.get("searchScheduleItemId");

                $('#searchStartDate').val(searchedStart);

                $('#searchDueDate').val(searchedDue);

                $('#searchScheduleItemId').val(searchedScheduleItemId);
            }
        });
    </script>
{% endblock %}