{% extends 'event/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Óra Esemény Adatainak Megtekintése</h3>
    <div id="yellow-wrapper">
        <div id="view-session-event-wrapper">
            <h4><b>Időpont: </b></h4>{{ sessionevent.getSessionEventDateString }}<br/>
            <h4><b>Órarendi Elem: </b></h4>{{ sessionevent.getScheduleItem }}<br/>
            <h4><b>Bérletesek: </b></h4>
            <table class="table colored-table">
                <thead>
                <tr>
                    <th>Résztvevő</th>
                    <th>Bérlet</th>
                </tr>
                </thead>
                <tbody>
                {% for attendanceRecord in sessionevent.getAttendees %}
                    <tr>
                        <td>
                            {{ attendanceRecord.getAttendee }}
                        </td>
                        <td>
                            {{ attendanceRecord.getSubscription }}
                            {{ attendanceRecord.getSubscription.getStatus }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><br/>
            <h4><b>Eladott Napidíjak: </b></h4>{{ sessionevent.getSessionFeeNumbersSold }}<br/>
            <h4><b>Napidíj Bevétel: </b></h4>{{ sessionevent.getSessionFeeRevenueSold }} HUF<br/>
            <h4><b>Teljes Bevétel: </b></h4>TODO<br/>
        </div>
        <br>
        <a id="formBackButton" href="#" class="btn btn-primary">Vissza</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_end_javascripts %}
    <script type="text/javascript">
        $('#formBackButton').click( function () {
            window.history.back()
        })
    </script>
{% endblock %}