{% extends 'signups/layout.html.twig' %}

{% form_theme form with
    [
        '@ninsuo/jquery.collection.html.twig',
        '/signups/signupRecordsFormTheme.html.twig'
    ]
%}

{% block body %}
    {{ parent() }}
    <h3>Új Bejelentkezéses Óra</h3>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.scheduleItem, {'label': 'Órarendi Elem'}) }}
        {{ form_row(form.timeOfEvent, {'label': 'Időpont'}) }}
        {{ form_row(form.timeFromFinalized, {'label': 'Véglegesítés időpontja'}) }}
        {{ form_row(form.maxNumberOfSignUps, {'label': 'Max bejelentkezések száma'}) }}
        {{ form_row(form.signees, {'label': 'Bejelentkezők'}) }}
        {{ form_row(form.saveAndContinue) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    {# TODO: Kitalálni azt hogy ha felvisz valakit a listára akkor kell-e hogy szóljon hogy mi a bérleteinek az adata! Ha igen akkor kell JS ide még! #}
    <script src="{{ asset('js/auto-suggest-signup-users.js') }}"></script>
{% endblock %}

{% block body_end_javascripts %}
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            let setTimeFromFinalizedBasedOnTimeOfEvent = function () {

                let timeOfEvent = $('#appbundle_announced_session_timeOfEvent').val();

                let calculatedTimeOfFinalzed = moment(timeOfEvent,  "YYYY-MM-DD HH:mm").subtract(3, 'hour').format('YYYY-MM-DD HH:mm');

                $('#appbundle_announced_session_timeFromFinalized').val(calculatedTimeOfFinalzed);

            };

            $('#appbundle_announced_session_timeOfEvent').on('dp.change', setTimeFromFinalizedBasedOnTimeOfEvent);
        });
    </script>
{% endblock %}