{% extends 'break/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Szünet Esemény Törlése</h3>
    <div id="yellow-wrapper">
        {{ form(form) }}
        <a href="{{ path('break_event_list_all') }}" class="btn btn-primary">Vissza</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}
