{% extends 'break/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Szünet Esemény Szerkesztése</h3>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.startDate, {'label': 'Szünet Kezdete'}) }}
        {{ form_row(form.dueDate, {'label': 'Szünet Vége'}) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': true}) }}
        <div class="checkbox">
            <label><input type="checkbox" id="confirmDeleteCheckBox" value="">Törlés engedélyezve</label>
        </div>
        <a href="{{ path('break_event_list_all') }}" class="btn btn-primary">Vissza</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}

{% block body_end_javascripts %}
    <script type="text/javascript">

        var confirmDeleteCheckbox = $('#confirmDeleteCheckBox');

        if (confirmDeleteCheckbox.is(":checked")) {
            // let it submit
            $('#appbundle_breakevent_delete').attr("disabled", false);
        } else {
            // don't let it submit
            $('#appbundle_breakevent_delete').attr("disabled", true);
        }

        confirmDeleteCheckbox.click( function () {
            if ($('#confirmDeleteCheckBox').is(":checked")) {
                // let it submit
                $('#appbundle_breakevent_delete').attr("disabled", false);
            } else {
                // don't let it submit
                $('#appbundle_breakevent_delete').attr("disabled", true);
            }
        });

    </script>
{% endblock %}