{% extends 'subscription/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Bérlet Szerkesztése</h3>
    <div id="white-wrapper">
        <h4>
            <b>Bérlet használat </b>
            <a href="{{ path('subscription_view_attendances', {'id': subscription.id}) }}" class="btn btn-primary"><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-chevron-right"></span></a>
        </h4>
    </div>
    <div id="yellow-wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        <div class="attendee-input-wrap">
            {{ form_row(form.owner, {'label': 'Tulajdonos'}) }}
        </div>
        <div class="attendee-input-wrap">
            {{ form_row(form.buyer, {'label': 'Vásárló'}) }}
        </div>
        {{ form_row(form.isMonthlyTicket, {'label': 'Havi Bérlet'}) }}
        {{ form_row(form.attendanceCount, {'label': 'Alkalmak Száma'}) }}
        {{ form_row(form.startDate, {'label': 'Kezdeti Időpont'}) }}
        {{ form_row(form.dueDate, {'label': 'Lejárati Időpont'}) }}
        {{ form_row(form.price, {'label': 'Ár'}) }}
        {{ form_end(form, {'render_rest': true}) }}
        <div class="checkbox">
            <label><input type="checkbox" id="confirmDeleteCheckBox" value="">Törlés engedélyezve</label>
        </div>
        <br>
        {% if break_event_id is null %}
            {% if user_account_id is defined%}
                <a href="{{ path('useraccount_view', {'id': user_account_id}) }}" class="btn btn-primary">Vissza</a>
            {% endif %}
        {% else %}
            <a href="{{ path('breakevent_check_subscriptions', {'id': break_event_id}) }}" class="btn btn-primary">Vissza</a>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('js/auto-suggest-users.js') }}"></script>

    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}

{% block body_end_javascripts %}
    <script type="text/javascript">

        var confirmDeleteCheckbox = $('#confirmDeleteCheckBox');

        if (confirmDeleteCheckbox.is(":checked")) {
            // let it submit
            $('#app_subscription_delete').attr("disabled", false);
        } else {
            // don't let it submit
            $('#app_subscription_delete').attr("disabled", true);
        }

        confirmDeleteCheckbox.click( function () {
            if ($('#confirmDeleteCheckBox').is(":checked")) {
                // let it submit
                $('#app_subscription_delete').attr("disabled", false);
            } else {
                // don't let it submit
                $('#app_subscription_delete').attr("disabled", true);
            }
        });

    </script>
{% endblock %}