{% extends 'subscription/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Bérletek</h3>
    <div id="yellow-wrapper">
        <div class="list-group">
            {% for subscription in subscriptions %}
                <a href="{{ path('subscription_edit_subscription', {'id': subscription.id}) }}" class="list-group-item">
                    {{ subscription }}
                    <p>Létrehozva: <b>{{ subscription.created|date('Y-m-d H:i:s') }}</b></p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}