{% extends 'subscription/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if break_event is defined %}
        <h3>Bérletek Ellenőrzés</h3>
        <div id="white-wrapper">
            <b>Szünet Napja:</b> <span style="color: green">{{ break_event.getBreakEventDay|date('Y.m.d.') }}</span><br>
        </div>
        <div id="yellow-wrapper">
            <h4><b>Érintett Bérletek</b></h4>
            <br>
            <ul>
                {% for subscription in subscriptions %}
                    <li class="bottom-padded-list">
                        {{ subscription['subscription'].getOwner }}
                        <br>Bérlet Azonosító: <b>{{ subscription['subscription'].getId }}</b> [{{ subscription['subscription'].getAttendanceCount }} alkalmas]
                        Hosszabítás Szám: <span style="color: green">{{ subscription['subscription'].getNumberOfExtensions }} </span>
                        <br>{{ subscription['subscription'].getStartDateString }} -
                        {{ subscription['oldDueDate'] }}
                        &nbsp;&nbsp;&nbsp;<b>Új:</b> <span style="color: green">{{ subscription['subscription'].getDueDateString }} </span>
                    </li>
                {% endfor %}
            </ul>

            {% if reverting is defined %}
                <h4> Visszaállítások Mentése</h4>
                {{ form(form) }}

                <div class="checkbox">
                    <label><input type="checkbox" id="confirmDeleteCheckBox" value="">Visszaállítás</label>
                </div>

                <a href="{{ path('break_edit_break_event', {'id': break_event.getId}) }}" class="btn btn-primary">Vissza</a>
            {% else %}
                <h4> Hosszabbítások Mentése</h4>
                {{ form(form) }}

                <div class="checkbox">
                    <label><input type="checkbox" id="confirmExtendCheckBox" value="">Hosszabbítás</label>
                </div>

                <a href="{{ path('break_add_breakevent') }}" class="btn btn-primary">Vissza</a>
            {% endif %}

        </div>
    {% else %}
        <h3>Bérletek Lista</h3>
        <div id="white-wrapper">
            <div class="list-group">
            {% for subscription in subscriptions %}
                <a href="{{ path('subscription_edit_subscription', {'id': subscription.id}) }}" class="list-group-item">
                    {{ subscription }}
                    <p>Létrehozva: <b>{{ subscription.created|date('Y.m.d. H:i:s') }}</b></p>
                </a>
            {% endfor %}
            </div>
            <a href="{{ path('homepage') }}" class="btn btn-primary">Vissza</a>
        </div>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_end_javascripts %}

    {% if break_event is defined %}

        {% if reverting is defined %}

            <script type="text/javascript">

                var confirmDeleteCheckbox = $('#confirmDeleteCheckBox');

                if (confirmDeleteCheckbox.is(":checked")) {
                    // let it submit
                    $('#form_save').attr("disabled", false);
                } else {
                    // don't let it submit
                    $('#form_save').attr("disabled", true);
                }

                confirmDeleteCheckbox.click( function () {
                    if ($('#confirmDeleteCheckBox').is(":checked")) {
                        // let it submit
                        $('#form_save').attr("disabled", false);
                    } else {
                        // don't let it submit
                        $('#form_save').attr("disabled", true);
                    }
                });

            </script>

        {% else %}

            <script type="text/javascript">

                var confirmExtendCheckbox = $('#confirmExtendCheckBox');

                if (confirmExtendCheckbox.is(":checked")) {
                    // let it submit
                    $('#form_save').attr("disabled", false);
                } else {
                    // don't let it submit
                    $('#form_save').attr("disabled", true);
                }

                confirmExtendCheckbox.click( function () {
                    if ($('#confirmExtendCheckBox').is(":checked")) {
                        // let it submit
                        $('#form_save').attr("disabled", false);
                    } else {
                        // don't let it submit
                        $('#form_save').attr("disabled", true);
                    }
                });

            </script>

        {% endif %}

    {% endif %}

{% endblock %}