{% extends 'stats/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Jelenléti Statisztikák</h3>
    <div id="white-wrapper">
        <h4><b>Időszak</b></h4>
        <form action="{{ path('admin_stats') }}" method="get" class="form-inline">
            <div class="form-group">
                <input name="statsStart" type="text" class="form-control datetimepicker" id="statsStartDate" placeholder="-tól">
            </div>
            <div class="form-group">
                <input name="statsDue" type="text" class="form-control datetimepicker" id="statsDueDate" placeholder="-ig">
            </div>
            <div class="form-group">
                <input name="statsScheduleItemId" type="number" class="form-control" id="statsScheduleItemId" placeholder="óra azonosító">
            </div>
            <button type="submit" class="btn btn-default"><span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-search"></span></button>
        </form>

        <br>
        <a href="{{ path('admin_stats_subscriptions') }}" class="btn btn-primary">Bérlet Statisztikák</a>
        <br>

        <br>
        <h4><b>Összesítés</b></h4>
        <div id="summary-wrapper">
            <h5>Űrlapok Száma: <b>{{ event_count }}</b></h5>
            <h5>Teljes Bevétel: <b>{{ total_revenue|number_format(0, '.', ' ')}} Ft</b></h5>
            <h5>Teljes Létszám: <b>{{ total_attendee_count }}</b></h5>
        </div>
    </div>

    <div id="stats-wrapper">
        <div id="view-user-account-wrapper">
            <h4><b>Űrlapok</b></h4>
            <br>
            <table class="table colored-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Órarendi Elem</th>
                    <th>Időpont</th>
                    <th>Bevétel</th>
                    <th>Létszám</th>
                    <th>Űrlap</th>
                </tr>
                </thead>
                <tbody>
                {% for sessionevent in events %}
                    <tr>
                        <td>
                            {{ sessionevent.getId }}
                        </td>
                        <td>
                            {{ sessionevent.getScheduleItem }}
                        </td>
                        <td>
                            {{ sessionevent.getSessionEventDateString }}
                        </td>
                        <td>
                            {{ sessionevent.getRevenue|number_format(0, '.', ' ') }} Ft
                        </td>
                        <td style="text-align: center">
                            {{ sessionevent.getAttendeeFullCount }}
                        </td>
                        <td>
                            <a href="{{ path('sessionevent_view', {'id': sessionevent.getId}) }}" class="btn btn-link"><span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-list-alt"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

{% endblock %}

{% block body_end_javascripts %}
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}